/* Heading styling */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Department links container */
.department-links,.year-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1100px;
    gap: 30px;
}

/* Individual department link */
.department-link,.year-link {
    width: 900px;
    padding: 10px 15px;
    height: 30px;
    color: black;
    background-color: hwb(0 88% 8%);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Hover effect */
.department-link:hover,.year-link:hover {
    background-color: rgb(177, 174, 174);
}

/* Active link */
.department-link.active {
    background-color: #0056b3;
}
